:root {
  --clr-primary-50: #f3f8e6;
  --clr-primary-100: #e0eec0;
  --clr-primary-200: #cbe397;
  --clr-primary-300: #b6d86c;
  --clr-primary-400: #a4cf47;
  --clr-primary: var(--clr-primary-400);
  --clr-primary-500: #93c619;
  --clr-primary-600: #83b70f;
  --clr-primary-700: #6ca300;
  --clr-primary-800: #578f00;
  --clr-primary-900: #2f6d00;
  --clr-secondary-50: #f4e5ef;
  --clr-secondary-100: #e3bdd7;
  --clr-secondary-200: #d191be;
  --clr-secondary-300: #bd67a4;
  --clr-secondary-400: #ae4792;
  --clr-secondary-500: #9e2b82;
  --clr-secondary-600: #92267c;
  --clr-secondary: var(--clr-secondary-600);
  --clr-secondary-700: #821f75;
  --clr-secondary-800: #731a6d;
  --clr-secondary-900: #58135d;

  /* backgrounds */
  --surface: #121212;
  --background: #0c0f07;
  --outline: rgba(255, 255, 255, 0.12);
  --surface-overlay: rgba(255, 255, 255, 0.12);

  /* FONT COLORS */
  /* on surface and background */
  --srfc-high-emphasis: rgba(255, 255, 255, 0.87);
  --srfc-mefium-emphasis: rgba(255, 255, 255, 0.6);
  --srfc-disabled: rgba(255, 255, 255, 0.38);

  /* on primary error and secondary*/
  --prm-high-emphasis: black;
  --prm-medium-emphsasis: rgba(0, 0, 0, 0.74);
  --prm-medium-emphsasis: rgba(0, 0, 0, 0.38);

  /* elevation overlays -- on top of #121212 */
  --elevation-1: rgba(255, 255, 255, 0.05);
  --elevation-2: rgba(255, 255, 255, 0.07);
  --elevation-3: rgba(255, 255, 255, 0.08);
  --elevation-4: rgba(255, 255, 255, 0.09);
  --elevation-6: rgba(255, 255, 255, 0.11);
  --elevation-8: rgba(255, 255, 255, 0.12);
  --elevation-12: rgba(255, 255, 255, 0.14);
  --elevation-16: rgba(255, 255, 255, 0.15);
  --elevation-24: rgba(255, 255, 255, 0.16);

  /* states white overlay */
  --hover-white-overlay: rgba(255, 255, 255, 0.04);
  --focus-white-overlay: rgba(255, 255, 255, 0.12);
  --pressed-white-overlay: rgba(255, 255, 255, 0.1);
  --dragged-white-overlay: rgba(255, 255, 255, 0.12);
  --selected-white-overlay: rgba(255, 255, 255, 0.08);

  /* states primary overlay */
  --hover-primary-overlay: rgba(203, 220, 169, 0.04);
  --focus-primary-overlay: rgba(203, 220, 169, 0.12);
  --pressed-primary-overlay: rgba(203, 220, 169, 0.1);
  --dragged-primary-overlay: rgba(203, 220, 169, 0.12);
  --selected-primary-overlay: rgba(203, 220, 169, 0.08);

  /* states secondary overlay */
  --hover-secondary-overlay: rgba(209, 145, 190, 0.04);
  --focus-secondary-overlay: rgba(209, 145, 190, 0.12);
  --pressed-secondary-overlay: rgba(209, 145, 190, 0.1);

  --error: #ff0000;
  --error: #ff6666;

  --c: #d6e9f8;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-450: #a9a9a9;
  --gray-500: #9e9e9e;
  --gray-550: #808080;
  --gray-600: #757575;
  --gray-700: #616161;
  /* --gray-750: #555555; */
  --gray-800: #424242;
  --gray-900: #212121;
  --gray-A900: #111111;
}

/* shadows same across light and dark mode - the overlay is added */
/* avoid elevation on primary and secondary color */

@def background-image                   url('static/images/squairy_light.png');
@def closed-backpack                    url('../bloclyeditor/media/backpack-closed-copy.png');
@def text-button-background            #f5f5f5;
/* Greens */
@def box-background                     cbe397;
@def selected-color                     #83b70f;
@def bar-color                          #cbe397;
@def tab-bar-background-color           #f3f8e6;
@def box-background-color               #f7f9f2;

/* Greys */
@def background-color                   #fff;
@def top-panel-background-color         #f5f5f5;
@def top-panel-background-image         #fafafa;
@def border-color                       #e0e0e0;
@def label-color                        #9e9e9e;
@def top-panel-color                    #757575;
@def panel-shadow                       #424242;
@def tab-bar-color                      #000000;
@def top-panel-end-color                rgba(255, 242, 242, 0.95);

@def container-shadow                   rgba(0,0,0,0.1);
@def shadow-color                       rgba(0, 0, 0, 0.07);
@def button-shadow-color                rgba(0, 0, 0, 0.15);

/* Colors */
/* orange */
@def blocks-designer-color              #F88D34;
@def project-background-color           #fff6c3;
/* blue TODO get from srlane */
@def explorer-border                    #D6E9F8;
@def simple-panel-border                #67A7E3;
@def project-color                      #112abb;
/* red */
@def destructive-action-hover           #FF6666;
@def item-color-red                     #ff0000;
/* Mockforms */

@def phoneLandscape                      url('static/images/phoneLandscape.png');
@def phonePortrait                       url('static/images/phonePortrait.png');
@def phoneLandscapeTablet                url('static/images/phoneLandscapeTablet.png');
@def phonePortraitTablet                 url('static/images/phonePortraitTablet.png');
@def phoneLandscapeMonitor               url('static/images/phoneLandscapeMonitor.png');
@def phonePortraitMonitor                url('static/images/phonePortraitMonitor.png');

@def navigationbarPortrait               url('static/images/navigationbarPortrait.png');
@def navigationbarLandscape              url('static/images/navigationbarLandscape.png');

/* SHADOWS */
/* 
rgba(0, 0, 0, 0.065)
rgba(255, 255, 255, 0.75)
do something about .ode-TextButton,
.gwt-Button shadows
rgba(0, 0, 0, 0.1) 
rgba(0, 0, 0, 0.25)
rgba(255, 255, 255, 0.2)
rgba(0, 0, 0, 0.05)
rgba(0, 0, 0, 0.2)
rgba(0, 0, 0, 0.075)
rgba(0, 0, 0, 0.025)
rgba(102, 102, 102, .4)
*/
/* 262626 -> 212121
555555 -> 616161
555 -> 616161
e5e5e5 -> e0e0e0
99cc00 -> 93c619
999 -> 9e9e9e
f7f9f2 -> f5f5f5
d2d2d2 -> e0e0e0
D3D3D3 -> e0e0e0
b0b2a7 -> bdbdbd 
rgba(102, 153, 0, 0.3) -> cbe397
darkgray -> a9a9a9

highlight yellow
fff6c3 -> fff6c3
FFF1A8

orange
faa732

blue
112abb -> 112abb
bbccff -> bbccff
67A7E3 -> 67A7E3
333399
D6E9F8
0078A8
rgba(82, 168, 236, 0.8)
rgba(82, 168, 236, 0.6)

FF6666 -> FF6666
FF4444 -> FF6666

ddd -> e0e0e0
dedede -> e0e0e0
f2f2f2 -> f5f5f5
f5f5f5 -> f5f5f5
linear-gradient(to bottom, #f2f2f2, #f3f3f3) set to none;
linear-gradient(to bottom, #ffffff, #e6e6e6) set to none
linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1)) change
grey -> 808080
404040 -> 424242
669900 -> 6ca300
rgb(100, 100, 100) -> 616161
BABABA -> bdbdbd
888 -> 808080
remove -webkit-filter: drop-shadow(0px 0px 3px #222);
222 -> 212121
probably can remove the whole transition shaang
E6E6E6 -> eeeeee
5B5B5B -> 616161
c2c2c2 -> bdbdbd
8fc202 -> 93c619
eef2e0 -> f3f8e6
d2e0a6 -> cbe397
333333 -> 424242
333 -> 424242
e6e6e6 -> eeeeee
cccccc -> bdbdbd
ccc -> bdbdbd
bfbfbf -> bdbdbd
d9d9d9 -> e0e0e0
bbbbbb -> bdbdbd

where is ode-BlocksDesignerButton used?

575757 -> 616161
aaaaaa -> a9a9a9
AAAAAA -> a9a9a9
a5cf47 -> a4cf47
d6d7d7 -> e0e0e0
b9b9b9  -> bdbdbd

rgba(0, 0, 0, 0.87)

2d2d2d -> 212121
eee -> eeeeee
EEE -> eeeeee
e9e9e9  -> eeeeee
837d7d -> 808080
808080 -> 808080
413f3f -> 424242
797575 -> 757575
faf9f7 -> fafafa
848280 -> 808080

rgba(0, 0, 0, 0.2)

999999 -> 9e9e9e
999 -> 9e9e9e
fcfcfc -> fafafa
D2E08B -> cbe397
ceda91 -> cbe397
777 -> 757575
b3c833 -> a4cf47
d6d6d6 -> e0e0e0
666 -> 696969
bebebe -> bdbdbd
444 -> 424242
b2b4bf -> bdbdbd

red: 980000

*/

/* 
for hover and disabled just add overlays
e.g rgba(143, 194, 2, 0.616)
rgba(131, 125, 125, 0.1)
rgba(128, 255, 128, 0.3)
rgba(200, 200, 200, 0.1)
*/
